/*Author: W3layouts
Author URL: http://w3layouts.com
Distributor: http://bootstraptema.ru/
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
@font-face {
    font-family: 'Oxygen-Bold';
    src:url(../fonts/Oxygen-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'OpenSans';
    src:url(../fonts/OpenSans-Regular.woff) format('truetype');
}
@font-face {
	font-family: 'OpenSans-Bold';
	src:url(../fonts/OpenSans-Bold.woff) format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Regular';
    src:url(../fonts/Ubuntu-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu-Bold';
    src:url(../fonts/Ubuntu-Bold.ttf) format('truetype');
}
@font-face{
	font-family:'Oxygen-Regular';
	src:url(../fonts/Oxygen-Regular.ttf) format('truetype');
}

@font-face
{
	font-family: 'Tatiana';
	src: url('../fonts/tatianactt.woff') format('truetype');
}

html,body{
	background:#fff;
	font-size: 100%;
	font-family: 'OpenSans';

}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

.main_page
{
    background-color: #edacb4;
}

.main_page h3
{
	font-family: Tatiana, Ubuntu-Regular, Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}

 ul{
	padding: 0;
	margin: 0;
}
h1,h2,h3,h4,h5,h6,label,p{
	margin:0;
}

b
{
	font-family: 'OpenSans-Bold';
}

.sizetable
{
	margin: 20px auto;
	width: 335px;
	border: 1px solid #ededed;
	padding: 10px 25px;

}

.sizetable_text p
{
	margin: 0 0 10px;
}

.sizetable h3
{
	margin-bottom: 5px;
}

.sizetable_big
{
	font-size: 20px;
	text-align: center;
}

.sizetable_extrabig
{
	font-size: 30px;
	text-align: center;
}

.navbar-collapse.in
{
    overflow-y: unset !important;
}
/*--header--*/
.head{
	position:relative;
}
.logo {
    text-align: center;
    position: absolute;
    top: 0;
}
.logo img{
    height: 96px;
    width: 170px;
}
.header-info
{
    text-align: right;
}
.wrapcontent
{
    min-height: 270px;
}
.header
{
    border-bottom: 2px solid #edacb4;
}
.header-info ul li{
	display:inline-block;
}
.header-info ul li a{
	display:inline-block;
	text-decoration:none;
	color:#fff;
	font-size:0.8em;
	margin: 0 0.5em;
}
.header-info ul li a:hover {
    color: #edacb4;
}
.header-top {
    background-color: #2E2E2E;
	padding: 0.3em 0;
}
ul.nav_1 li a {
    font-size: 1em;
    color: #3A3A3A;
	padding: 1.4em;
}
.navbar {
    margin-bottom: 0px;
	border:none;

}
div#bs-megadropdown-tabs {
    padding: 0;
}
.h_menu4 {
    margin-left: 13.6%;
}
.nav > li > a:hover, .nav > li > a:focus, .nav > li > a.active {
    background-color: #edacb4;
    color: #fff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #edacb4;
    color: #fff;
}

.slider_main {
	max-width: 1800px;
	padding: 0;
}

.main_text
{
	/*margin: 0 0 50px;*/
	background-image: url(../img/1509025387main_photo.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	padding: 30px 0;
    background-size: cover;
}

.main_text p{
	line-height:36px;
    color: #000;
}

.main_text h1
{
    color: #000;
}

.col1 {
    float: left;
    width: 50%;
}

.col5
{
	margin-top: 41px;
}
.menu-top {
    width: 300px;
	padding: 1em;
}
.col1 ul li{
	list-style:none;
	    border-right: none;
}
.col1 ul li a{
	padding: 6px 0px;
    display: block;
}
.col1 h4{
	font-size: 1.5em;
    color: #000;
    margin-bottom: 0.5em;
    font-family: 'Ubuntu-Regular';
}

.footer .footer-middle .footer_p
{
	color: #B3B3B3;
	margin-top: 20px;
}

.modal_addcart h4
{
    margin-bottom: 20px;
}

.modal_addcart .modal-header
{
	border: 0;
}

.modal_addcart .modal-body
{
	text-align: center;
}

.modal_addcart .add_cart
{
	display: inline-block;
	vertical-align: middle;
	background-color: #edacb4;
	color: #fff;
	padding: 0.5em 1em;
	font-size: 1em;
	border: 1px solid #edacb4;
	transition: 0.5s;
}

.modal_addcart .add_cart:hover
{
	color: #fff;
	background: #FF6C6C;
	text-decoration: none
}

.modal_addcart .add_cart_active
{
	display: inline-block;
	vertical-align: middle;
	background-color: transparent;
	color: #edacb4;
	padding: 0.5em 1em;
	font-size: 1em;
	border: 1px solid #edacb4;
	transition: 0.5s;
}

.modal_addcart .add_cart_active:hover
{
	background-color: #edacb4;
	color: #fff;
}

/*--cart--*/
.itemContainer{
	width:100%;
	float:left;
}
.itemContainer div{
	float:left;
	margin: 5px 20px 5px 20px ;
}
.itemContainer a{
	text-decoration:none;
}
.cartHeaders{
	width:100%;
	float:left;
}
.cartHeaders div{
	float:left;
	margin: 5px 20px 5px 20px ;
}
.item_add {
  color: #000;
  border:none;
}
a.item_add {
 text-decoration: none;
}
.grid_1 img{
	margin-bottom:1em;
}
.box_1 h3{
  color: #000;
  font-size: 1em;
}
.box_1 h3 img{
	margin-left: 5px;
}
.box_1 p a{
  color: #B5B3B3;
  font-size: 0.77em;
}
.total {
  display: inline-block;
}
.cart.box_1{
	float: right;
	margin-top: 2px;
}

.heart{
	float:left;
	margin-top: 0.7em;
}
.heart li{
	display:inline-block;
	border-right: 1px solid #EFEFEF;
}
.heart li  a{
	font-size: 0.9em;
    color: #3A3A3A;
	margin:0 1em;
    outline: none;
}
.heart li:last-child {
	border-right: none;
}
.heart span{

}
.cart{
	float:right;
}
.cart a{
    text-decoration: none;
}
.search-right {
    padding: 0.6em 0 0;
}
/*--//header--*/
/*--banner--*/
.banner{
	width: 100%;
    height: 700px;
    display: block;
    background: url(../img/ba11.jpg)no-repeat right top;
	overflow-x:hidden;
}
.no-cssanimations .rw-wrapper .rw-sentence span:first-child{
	opacity: 1;
}
/*--//banner--*/
/*--content--*/
.content-top {
    padding: 20px 0;
}
.col-1 img{
}
.col-2 {
    padding-top: 1em;
    margin-bottom: 20px;
}
h1{
	font-size: 1.4em;
    color: #edacb4;
    line-height: 1.3em;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-family: 'Ubuntu-Bold';
    text-align: center;
}
.col-2 p{
	font-size: 0.9em;
    color: #484848;
	line-height:1.8em;
	margin:0 0 1.5em;
}
 a.buy-now{
	    font-size: 0.9em;
    color: #edacb4;
    text-decoration: none;
    border-bottom: 2px solid #edacb4;
    padding: 0 0 0.5em;
    display: inline-block;
    margin-bottom:30px;
}
a.buy-now:hover{
    color: #000;
    border-bottom: 2px solid #000;
}
.col-3{
	position:relative;
	margin-bottom:1.5em;
}

.col-pic{
	position:absolute;
	top:0;
	background:rgba(0, 0, 0, 0.4);
	width:100%;
	height:100%;
	text-align:center;
	padding-top: 6.5em;
    cursor: pointer;
    transition: 1s background;
}
.col-pic:hover {
    background: rgba(0, 0, 0, 0.7);
}
.col-pic p{
	color:#fff;
	font-size:1.1em;
	text-transform:uppercase;
	font-family: 'OpenSans';
}
.col-pic h5{
	color:#edacb4;
	font-size:2em;
	text-transform:uppercase;
	font-family: 'Ubuntu-Bold';
}
.col-pic label{
	width:100px;
	height:2px;
	display:block;
	background:#fff;
	border-radius:10px;
	margin: 0.5em auto;
}
/*--content-middle--*/
.content-mid h3{
	font-size: 30px;
    color: #000000;
    line-height: 1.8em;
    font-family: 'Ubuntu-Regular';
	text-align:center;
}

 label.line{
	width:200px;
	height:2px;
	display:block;
	background:#edacb4;
	border-radius:10px;
	margin: 0.2em auto;
}
.block {
    float: right;
}
 .mid-1 span{
	font-size: 0.9em;
    color: #edacb4;
    line-height: 1.8em;
    height: 10px;
    display: inline-block;
    font-family: 'Ubuntu-Bold';
}
/*----*/
/*-----------------------------------------------------------------------------------*/
/*	Stroke
/*-----------------------------------------------------------------------------------*/
.b-link-stroke{
	position:relative;
	display:inline-block;
	vertical-align:top;
	font-weight: 300;
	overflow:hidden;
	margin-bottom: 5px;
}
.b-link-stroke .b-wrapper{
	position:absolute;
	width:100%;
	height:100%;
	top:0em;
	left:0;
	text-align:center;
	color:#ffffff;
	padding-top:10em;
}
.b-link-stroke .b-wrapper:hover{
	background:rgba(217, 84, 89, 0.58);
}
.b-link-stroke .b-wrapper1{
	position:absolute;
	width:100%;
	height:100%;
	top:0em;
	left:0;
	text-align:center;
	color:#ffffff;
	padding-top: 7em;
}
.b-link-stroke .b-wrapper1:hover{
	background:rgba(8, 8, 8, 0.64);

}
.b-link-stroke .b-wrapper2{
	position:absolute;
	width:100%;
	height:100%;
	top:0em;
	left:0;
	text-align:center;
	color:#ffffff;
	padding-top:15em;
}
.b-wrapper1.long-img {
    padding-top: 15em;
}
.b-link-stroke .b-top-line{
	position:absolute;
	top:-100%;
	left:0;
	width:50%;
	height:100%;
	background:rgba(248, 69, 69, 0.59);
}
.b-link-stroke .b-bottom-line{
	position:absolute;
	bottom:-100%;
	right:0;
	width:50%;
	height:100%;
	background:rgba(248, 69, 69, 0.59);
}
.b-link-stroke .b-top-line, .b-link-stroke .b-bottom-line{
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
}
.b-link-stroke:hover .b-top-line{
	top:0;
}
.b-link-stroke:hover .b-bottom-line{
	bottom:0;
}
/*-----------------------------------------------------------------------------------*/
/*	Animation effects
/*-----------------------------------------------------------------------------------*/
.b-animate-go{
	text-decoration:none;
}
.b-animate{
	transition:all 0.5s;
	-moz-transition:all 0.5s;
	-ms-transition:all 0.5s;
	-o-transition:all 0.5s;
	-webkit-transition:all 0.5s;
	visibility:hidden; /* lt-ie9 */
}
/* lt-ie9 */
.b-animate-go:hover .b-animate{
	visibility:visible;
}
.b-from-left{
	position:relative;
	left:-100%;
	    color: #edacb4;
    font-size: 2em;
    text-transform: uppercase;
    font-family: 'Ubuntu-Bold';
}
.b-animate-go:hover .b-from-left{
	left:0;
}
.b-from-right{
	position:relative;
	right:-100%;
	    color: #fff;
    font-size: 1.1em;
    text-transform: uppercase;
    font-family: 'Oxygen-Bold';
}
.b-animate-go:hover .b-from-right{
	right:0;
}
 label.b-from-right {
    width: 100px;
    height: 2px;
    display: block;
    background: #fff;
    border-radius: 10px;
    margin: 0.5em auto;
}

.b-scale{
	position:relative;
	transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	-webkit-transform:scale(0);
}
.b-animate-go:hover .b-scale, h1{
	transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
	-webkit-transform:scale(1);
}
.mid-1 h6 {
    font-size: 1.2em;
    font-family: 'Ubuntu-Regular';
}
.mid-1 h6 a {
    color: #000000;
    text-decoration:none;
}
.mid-1 h6 a:hover {
    color: #edacb4;
}
.mid-2 p{
	font-size:1.1em;
	color:#B4B4B4;
}
.mid-2 p em{
	font-style:normal;
    color: #18125c;
    font-family: 'Ubuntu-Bold';
}
.mid-2 p label{
	text-decoration: line-through;
	font-weight:400;
	margin-right:6px;
}
.mid-2 {
    padding-top: 1em;
}
.mid-1 {
    padding-top: 1em;
}
.mid-pop{
	position: relative;
	border: 1px solid #edacb4;
	padding: 10px;
	text-align: center;
	background-color: #fff;
}
.divwithbut
{
    display: none;
    position: absolute;
    text-align: center;
    bottom: -61px;
    left: -1px;
    right: -1px;
    border: 1px solid #847b7b;
    border-top: none;
    background: #fff;
    z-index: 9;
}
.panel
{
    width: 190px;
    text-align: right;
    float: right;
}
.divwithbut a
{
    color: #fff;
    background: #edacb4;
    border: 2px solid #edacb4;
    text-decoration: none;
    padding: 10px 15px;
    margin: 10px auto 5px;
    display: inline-block;
}
.divwithbut a:hover
{
    color: #000;
    border: 2px solid #edacb4;
    background: transparent;
}
.content
{
   /* margin-bottom:70px;*/
}
.mid-pop:hover
{
    border: 1px solid #847b7b;
}
.mid-pop:hover .divwithbut
{
    display: block;
}
.zoom-icon {
	    position: absolute;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";
    display: block;
    left: 0;
    top: -152px;
    width: 290px;
    height: 219px;
	text-align:center;
    cursor: pointer;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.zoom-icon .icon{
	width: 50px;
    height: 50px;
    display: inline-block;
    background: #edacb4;
	color:#fff;
	font-size:1.3em;
    margin: 0 0.3em;
	line-height: 2.5em;
}
.zoom-icon .glyphicon-menu-right{
    background:#fff;
	color: #edacb4;
}
.mid-pop .zoom-icon {
	top: 0px;
	width: 100%;
	height: 182px;
}
.pro-img img
{
    margin: auto;
}
.mid-pop .pro-img:hover .zoom-icon {
    top: 33%;
    opacity: 1;
    filter: alpha(opacity=99);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=99)";
}
.mid-popular {
    padding-top: 1em;
}
.brand {
    padding: 5em 0;
}
.banner-top{
	text-align:center;
	width: 100%;
    height: 250px;
    display: block;
    background: url(../img/back.jpg)no-repeat ;
	padding:5em 0;
}
.banner-top h1{
	font-size:3em;
	color:#fff;
	font-family: 'Ubuntu-Regular';
}
.banner-top h2{
	font-size:0.9em;
	color:#fff;
	margin-top:1em;
}
.banner-top h2 a{
	color:#edacb4;
}
.banner-top h2 label{
	margin:0 0.4em;
}
.banner-top em {
    width: 100px;
    height: 2px;
    display: block;
    background: #fff;
    border-radius: 10px;
    margin: 0.5em auto;
}
/*--typo-single--*/

.thumb-image > img { width: 100%; }
/*--single--*/
.single-para h1{
	font-size:1.5em;
	color:#52D0C4;
	line-height:1.5em;
	  font-family: 'OleoScript-Regular';
}
label.add-to{
	display:block;
	font-size: 2em;
	color: #000;
}
.single-para p{
	font-size:0.9em;
	color:#B2B2B2;
	line-height:1.8em;
}
a.cart{
  padding: 0.3em 0.7em;
  color: #FFF;
  background: #52D0C4;
  margin: 1.5em 0 0;
  font-size: 1em;
  display:inline-block;
  line-height: 1.6em;
  text-align: center;
  text-decoration:none;
}
a.cart:hover{
	background: #000;
}
/*----*/
.star-on {
  padding: 1em 0;
}
.star-on ul {
  float:left;
}

.star-on ul li{
	display: inline-block;
}
.star-on ul li i{
	color:#000;
}
.review{
	float:left;
	  padding: 0 1em;
}
.star-on a{
	text-decoration:none;
	font-size:1em;
	color:#52D0C4;
}
.star-on a:hover{
	color:#000;
}
.single-bottom h4{
	color:#000;
	font-size:1.5em;
	padding:0.5em;
	border-bottom:1px solid #fa7455	;
}
.single {
  padding: 5em 0 0;
}
.available h6{
	color:#52D0C4;
	font-size:1.4em;
	padding: 0 0 1em;
}
.available ul li{
	display:inline-block;
	padding:0 0.5em 0 0;
	color:#4c4c4c;
	font-size:0.9em;
}
.available ul li select {
  outline: none;
  padding: 3px;
}
.available {
  padding: 2em 0 1em;
}
/*--products--*/
.product-bottom {
    padding-top: 2em;
}
h4.cate {
    font-family: 'Ubuntu-Regular';
    font-size: 1.7em;
    color:#edacb4;
}

ul.kid-menu{
	display: block !important;
}
.menu-drop {
	width: auto;
	height: auto;
	padding: 0;
	list-style: none;
	margin: 0.5em 0;
}
.menu-drop > li > a {
	width: 100%;
  margin: 0.3em 0;
	display:inline-block;
	position: relative;
	color: #000;
	font-size: 1.1em;
	text-decoration:none;
	font-family: 'Ubuntu-Bold';
}
.menu-drop > li > a:hover{
	color:#edacb4;
}
.cute
{
    display: none;
}
.menu-drop ul li a {
	width: 100%;
	display: inline-block;
	position: relative;
    font-size: 1em;
    margin: 0.3em 0;
    color: #332d2d;
	text-decoration:none;
	text-indent: 1.2em;
}
.menu-drop ul li a:hover, .menu-drop ul li a.active{
	color:#edacb4;
}
ul.kid-menu li,ul.cute li{
	list-style: none;
}
.product {
    padding: 1em 0 0;
}
.item-grid1 {
    padding-bottom: 2em;
}
.item-grid1:nth-child(7) ,.item-grid1:nth-child(8),.item-grid1:nth-child(9){
    padding-bottom: 0em;
}
/*--single--*/
.span_2_of_a1 h1 {
	color: #000;
    text-transform: uppercase;
    font-size: 1.8em;
    font-family: 'Ubuntu-Bold';
    margin-bottom: 30px;
    letter-spacing: normal;
}
p.in-para{
color: #B3B3B3;
    font-size: 0.9em;
    line-height: 2em;
    margin: 1em 0 ;
	border-bottom: 1px solid #f0f0f0;
    border-top: 3px double #f0f0f0;
	padding:1em 0;
}
.price_single {
	border-bottom: 1px solid #f0f0f0;
    padding-bottom: 1em;
}
span.reducedfrom {
	color: #edacb4;
    font-size: 1.5em;
    font-family: 'Ubuntu-Bold';
}

.price_single .item_old_price
{
	font-size: 17px;
	color: #c5c5c5;
	text-decoration: line-through;
	margin-right: 5px;
}

.price_single .code {
	color: #999;
	font-size: 13px;
	float:right;
	margin-top: 0.7em;
}
h4.quick {
	color: #000;
	font-size:1.2em;
	text-transform: uppercase;
	font-family: 'Ubuntu-Regular';
	margin-top: 1em;
}
p.quick_desc {
	color:#484848;
	font-size:0.9em;
	line-height: 2em;
	margin: 1em 0 2em;
}
span.actual {
	color:#edacb4;
	font-size: 1em;
	margin-right: 5%;
}
.add-to{
	float:right;
	margin-top: 1.6em;
}
/*--quantity-starts--*/
.quantity{
	margin: 1.5em 0;
	float:left;
}
 .value-minus,
.value-plus{
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
	border:1px solid #b2b2b2;
	    vertical-align: bottom;
}
.quantity-select .entry.value-minus:before,
.quantity-select .entry.value-plus:before{
	content: "";
	width: 13px;
	height: 2px;
	background: #000;
	left: 50%;
	margin-left: -7px;
	top: 50%;
	margin-top: -0.5px;
	position: absolute;
}
.quantity-select .entry.value-plus:after{
	content: "";
	height: 13px;
	width: 2px;
	background: #000;
	left: 50%;
	margin-left: -1.4px;
    top: 50%;
    margin-top: -6.2px;
	position: absolute;
}
.value  {
    cursor: default;
    width: 40px;
	height:40px;
    padding: 8px 0px;
    color: #A9A9A9;
    line-height: 24px;
    border: 1px solid #E5E5E5;
    background-color: #E5E5E5;
    text-align: center;
    display: inline-block;
	margin-right: 3px;
}
.quantity-select .entry.value-minus:hover,
 .quantity-select .entry.value-plus:hover{
	background: #E5E5E5;
}

.quantity-select .entry.value-minus{
    margin-left: 0;
}
/*--quantity-end--*/
/* Skew Backward */
.hvr-skew-backward {
  display: inline-block;
  vertical-align: middle;
	background-color: #edacb4;
   color: #fff;
   padding: 0.5em 1em;
   font-size:1em;
   border: none;
}
.order .buttonorder
{
    text-align: center;
}
.hvr-skew-backward:hover, .hvr-skew-backward:focus, .hvr-skew-backward:active {
	color:#fff;
	background:#FF6C6C;
    text-decoration:none;
}

.btn_product
{
	border-color: #edacb4;
	border-radius: 0;
	transition: 0.5s all;
}

.wish-list .btn_product:hover,
.wish-list .btn_product:active,
.wish-list .btn_product:focus
{
	background-color: #edacb4;
	color: #fff;
	border-color: #edacb4;
}

ul.product-qty {
	padding: 0;
	list-style: none;
}
.product-qty span {
	color: #000;
	font-size:1.2em;
	padding-bottom: 0.5em;
	display: block;
	text-transform: uppercase;
	font-family: 'Ubuntu-Regular', sans-serif;
}
.product-qty select {
	border: 1px solid #eee;
	padding: 0.5em;
	font-size: 1em;
	outline: none;
}
.product-qty option {
	border: 1px solid #EEE;
}
.wish-list {
	padding: 15px 0;
	border-bottom: 1px solid #f0f0f0;
	border-top: 1px solid #f0f0f0;
}
.wish-list ul{
	padding:0;
	list-style:none;
}

.wish-list li a {
	color:#FF6C6C;
	text-transform: uppercase;
	text-align: center;
}
.wish-list li a span {
	padding-right:10px;
}
.wish-list li a:hover{
	text-decoration:none;
}

.wish-list .dropdown
{
	float: left;
}
.compare
{
	margin-top: 6px;
}
.compare a
{
	color: #edacb4;
	margin-left: 40px;
	text-decoration: none;
}

.compare a:hover
{
	color: #FF6C6C;
}

.quantity_box {
	float: left;
    margin-right: 3em;
}
.size-top {
    margin: 2em 0;
}
.pagination > li > a, .pagination > li > span
{
    color: #edacb4;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus
{
    background-color: #edacb4;
    border-color: #edacb4;
}
.pags
{
    text-align: center;
}
section.sky-form
{
    margin-bottom: 50px;
}
/*----*/
.tab-head {
    padding: 3em 0 3em;
}
.tabs li a {
    padding: 1em;
    font-size: 0.9em;
    color: #484848;
    border-bottom: 1px solid #EDEDED;
}
.tabs  li a:hover,.tabs  li.active a{
	background:#edacb4 !important;
	color:#fff;
}
.tab-content {
    padding-left: 0px;
}
.facts p {
    color: #484848;
    font-size: 0.9em;
    line-height: 2em;
    padding: 0 0 1em;
}
.facts ul li {
    list-style: none;
    color: #3a3737;
    font-size: 0.9em;
    padding: 0.3em 0;
}
.facts ul li span{
    padding-right: 0.5em;
}
nav.nav-sidebar {
    float: left;
    width: 30%;
	border-top: 1px solid #EDEDED;
	border-left: 1px solid #EDEDED;
}
.one{
	float:right;
    width: 70%;
	 border: 1px solid #EDEDED;
	 padding:1em;
}
.product-at{
	padding-top:0;
}
.reviews, .reviews form
{
    margin-top: 20px;
}

/*--login--*/
.login{
	padding:2em 0 0;
}
input[type="text"], input[type="password"], input[type="email"], textarea, select{
	border: 1px solid #a29e9e!important;
    padding: 0.5em 1em;
    border-radius: 0!important;
    color: #000;
    box-shadow: none !important;
}

input[type="submit"]{
	border: none;
    outline: none;
    font-size: 1em;
    -webkit-appearance: none;
    cursor: pointer;
    background: none;
}
.order
{
    margin-top: 30px;
}
.order form
{
    max-width: 500px;
    margin: 0 auto;
}
.control-label
{
    position: absolute;
}
.checkbox1 {
	margin-bottom: 4px;
	padding-left: 27px;
	font-size: 1.2em;
	line-height: 27px;
	cursor: pointer;
	position: relative;
	font-weight: 400;
	color:#000;
}
.checkbox1:last-child {
	margin-bottom: 0;
}
.news-letter {
	color: #555;
	font-size: 0.8em;
	margin-bottom: 1em;
	display: block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	clear: both;
}
.checkbox1 i {
	position: absolute;
	bottom: 5px;
	left: 0;
	display: block;
	width:20px;
	height:20px;
	outline: none;
	border: 2px solid #E1DFDF;
}
.checkbox1 input + i:after {
	content: '';
	background: url("../img/tick1.png") no-repeat 1px 2px;
	top: -1px;
	left: -1px;
	width: 15px;
	height: 15px;
	font: normal 12px/16px FontAwesome;
	text-align: center;
}
.checkbox1 input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.checkbox1 input {
	position: absolute;
	left: -9999px;
}
.checkbox1 input:checked + i:after {
	opacity: 1;
}
.news-letter:hover {
	color:#00BFF0;
}
.login-right h3{
	font-size: 1.5em;
    color: #000000;
    font-family: 'Ubuntu-Regular';
}
.login-right p {
    font-size: 0.9em;
    color: #B3B3B3;
    line-height: 1.8em;
    margin: 1em 0 ;
}
.produced {
    text-align: center;
}
.reviews .rating-input
{
    border: none !important;
}
.onereview
{
    border: 2px solid #edacb4;
    padding: 15px;
    margin-bottom: 25px;
}
.onereview .name
{
    font-family: 'Ubuntu-Bold';
    font-size: 18px;
    float: left;
}
.onereview .starsblock
{
    float: right;
    margin-top: -20px;
}
.onereview .starsblock i
{
    font-size: 20px;
}
.onereview p
{
    padding: 10px 0;
}
.onereview .date
{
    float: right;
    color: #999;
    font-size: 15px;
}
/*--contact--*/
.contact-form {
    padding: 5em 0 ;
}
.contact-top h3{
	font-size: 1.5em;
	color:#000;
	line-height:1.4em;
    font-family: 'Ubuntu-Regular';
}
.contact-top div{
	padding:0.5em 0;
}
.contact-top div input[type="text"], .contact-top div textarea {
	width: 100%;
	padding: 0.7em;
	margin:0.4em 0 0;
	background: none;
	outline: none;
	border: 1px solid #F3EFEF;
	-webkit-appearance: none;
}
.contact-top div textarea{
	height:160px;
	resize:none;
}
.contact-top div span{
	color:#000;
	font-size: 0.9em;
}
.contact-top label{
	font-weight:400;
	cursor:pointer;
}
.contact-top input[type="submit"]{
	border:none;
	outline:none;
	background:none;
}
.contact-top-in p{
	font-size: 1em;
	color: #494949;
	line-height: 1.6em;
	padding: 0.5em 0 1em;
}
.map iframe {
  width: 100%;
  min-height: 450px;
  border: none;
}
.contact-left h3{
    font-size: 1.5em;
	color:#000;
	line-height:1.4em;
    font-family: 'Ubuntu-Regular';
}
.contact-left p {
    font-size: 0.9em;
    color: #B3B3B3;
    line-height: 1.8em;
    margin:1em 0 0;
}
.address-grid i{
	color:#edacb4;
	font-size:1em;
	float: left;
	margin: 0 5% 0 0;
	display: inline-block;
	line-height: 2em;
}
.address1{
	float: left;
}
.address-grid {
    padding: 1em 0;
}
.address1 h3{
	font-size: 1.2em;
	color:#000;
	line-height:1.4em;
    font-family: 'Ubuntu-Regular';
}
.address1 p{
	margin: 0;
}
.address1 p a{
	text-decoration:none;
	color: #7c7c7c;
}
.address1 p a:hover{
	color:#edacb4;
}
.address-more h4{
	color:#000;
	font-size:2em;
	margin: 0 15px 0.7em;
}
.address {
  padding: 2em 0 0;
}
/*--404--*/
.four{
	padding:5em 0;
	text-align:center;
}
.four h3{
	font-size: 7em;
    color: #edacb4;
    font-family: 'Ubuntu-Regular';
}
.four p{
	font-size: 0.9em;
    color: #B3B3B3;
    line-height: 1.8em;
    margin: 0 0 1.5em;
}
/*--checkout--*/
.check-out{
	padding:2em 0em 3em;
}
.check-out table img
{
    max-width: 70px;
}
table{
	width:100%;
    margin: 0em 0 2em;
}
th{
	color: #000000;
    font-size: 1.0em;
    font-weight: 400;
    font-family: 'Ubuntu-Regular';
}
th, td {
    padding: 10px;
}
td{
	color:#b2b2b2;
  font-size: 1em;
}

.sizetable_table td
{
	font-size: 13px;
	color: #000;
	padding: 8px 2px !important;
	text-align: center;
}
.sed h5{
  	font-size: 1.1em;
	font-family: 'Ubuntu-Regular';
}
.sed h5 a{
    color: #edacb4;
  	text-decoration:none;
}
.sed h5 a:hover{
    color: #000;
}
.sed p{
    color:#b2b2b2;
	font-size:0.8em;
	line-height:1.8em;
	padding:1em 0 0;
}
.table-responsive {
    border: none;
}

.ring-in{
  position: relative;
}
.close1, .close2, .close3 {
  background: url('../img/close.png') no-repeat 0px 0px ;
  cursor: pointer;
  width: 28px;
  height: 28px;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
/*--//checkout--*/
/*--wish--*/
.wishlist {
  width: 31%;
  margin: 5em auto 0;
  border:1px solid #A6A5A5;
  text-align:center;
}
.wishlist h6{
	font-size: 1em;
    background: #F5F5F5;
    border-bottom: 1px solid #A6A5A5;
    padding: 0.8em;
    font-family: 'Ubuntu-Regular';
}
.wishlist h6 a{
	text-decoration:none;
	color:#a7a49c;
	padding: 0 0.5em 0 0;
}
.wishlist p{
	font-size:1.1em;
	color:#edacb4;
	padding:0.8em 0 ;
}
/*--footer--*/
.footer-middle{
	background:#1F1F1F;
	padding:64px 0 44px;
}
.footer-middle-in h6{
	font-size: 1.4em;
    color: #fff;
    font-family: 'Ubuntu-Bold';
	margin-bottom: 1em;
    text-transform: uppercase;
}
.footer-middle-in  p{
    font-size: 0.9em;
    color: #B3B3B3;
    line-height: 1.8em;
    margin-top: 1em;
}
.footer-middle-in  span{
    font-size: 0.9em;
    color: #B3B3B3;
    line-height: 1.8em;
}
ul.in li{
	list-style:none;
}
ul.in li a{
	color:#B3B3B3;
	font-size:0.9em;
	text-decoration:none;
	padding:0 0 0.5em ;
	display:block;
}
ul.in li a:hover{
	color:#edacb4;
}
ul.tag-in li{
	display:inline-block;
}
ul.tag-in li a{
	color:#B3B3B3;
	font-size: 0.9em;
    text-decoration: none;
    padding: 0.3em 0.7em;
    border: 1px solid #B3B3B3;
    display: block;
    margin-bottom: 0.6em;
    border-radius: 15px;
}
ul.tag-in li a:hover{
	color:#edacb4;
    border: 1px solid #edacb4;
}
.footer-class a:hover{
	color:#fff;
}
.footer-middle-in input[type="text"] {
    width: 100%;
    padding: 0.5em 1em;
    margin: 0.7em 0;
    background: none;
    outline: none;
    border: 1px solid #B3B3B3;
    -webkit-appearance: none;
    font-size: 0.9em;
    color: #B3B3B3;
}
.footer-middle-in input[type="submit"] {
    width: 100%;
    font-size: 1em;
    background: #edacb4;
    padding: 0.5em 1em;
    text-align: center;
    color: #fff;
    border: none;
    outline: none;
    -webkit-appearance: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-o-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.footer-middle-in input[type="submit"]:hover {
   color: #edacb4;
    background: #fff;
}
.footer-bottom{
	background:#000;
	padding:1em 0;
}
.footer-class{
	color:#fff;
	font-size:1em;
	text-align: center;
}
.footer-class a{
	color:#edacb4;
	text-decoration:none;
}

/*--//footer--*/
.infopage, .infopage h1,.infopage h2,.infopage h3,.infopage h4,.infopage h5
{
	line-height: 36px;
}
.infopage
{
	margin-bottom: 40px;
}
.infopage h1
{
	margin: 10px 0;
}

.infopage img
{
	max-width: 100%;
}

.infopage ul
{
	padding-left: 40px;
	margin-bottom: 10px;
}
/*--typo--*/
.page-header h3{
	font-size: 3em;
	color:#000;
	font-family: 'Ubuntu-Regular';
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}
.grid1 {
  margin: 1.5em 0 0;
}
ul.nav.nav-pills {
  margin: 1.5em 0 0;
}
.grid2{
	margin: 1em 0 0;
}
.page {
  padding: 4em 0 4em;
}
.bs-example {
  padding: 2em 0 0;
}
.form-horizontal .control-label {
  text-align: left;
}
.item-grid
{
    margin-bottom: 60px;
}

.rec_slider .item-grid
{
	width: initial !important;
	float: none;
}
#err_block {
    display: none;
    color: #b71932;
    font-size: 16px;
    margin-bottom: 5px;
}
div.required label.control-label:after {
    content: " *";
    color: red;
}
.cats_butt
{
    display: none;
    position: absolute;
    right: 0;
    z-index: 9;
}

/*--//typo--*/
/*--responsive--*/
@media(max-width:1366px){
}
@media(max-width:1280px){
.navbar-nav > li > .mega-dropdown-menu {
    left: -130%;
}
}
@media(max-width:1220px){
.h_menu4 {
    margin-left: 16.6%;
}
ul.nav_1 li a {
    padding: 1.4em 1.2em;
}
.col1 ul li a {
    padding: 6px 0px;
}
.navbar-nav > li > .mega-dropdown-menu {
    left: -387%;
}
.banner {
    height: 500px;
}
.col-pic {
    padding-top: 5em;
}
.mid-1 h6 {
    font-size: 1.05em;
}
.mid-2 p {
    font-size: 0.75em;
}
.wishlist {
    width: 42%;
}
.b-wrapper1.long-img {
    padding-top: 14em;
}
.heart li a {
    margin: 0 0.5em;
}
}
@media(max-width:1000px){
.navbar-toggle {
    background-color: #000 !important;
}
.navbar-toggle .icon-bar {
    background-color: #fff;
}
.header-login {
    margin-left: 24%;
    width: 33%;
	float:left;
}
ul.nav_1 li a {
    padding: 1.3em 0.4em;
    font-size: 0.8em;
}
.col1 ul li a {
    padding: 6px 0px;
	font-size: 0.85em;
}
.logo img{
	width: 81%;
    height: auto;
}
.h_menu4 {
    margin-left: 21.8%;
    width: 56%;
    padding: 0;
	float:left;
}
.search-right {
    width: 21%;
	float:left;
}
.heart span {
    margin: 0.6em;
}
.right button {
    left: 43px;
}
.box_1 h3 {
    font-size: 0.8em;
}
.box_1 p a {
    font-size: 0.7em;
}
.box_1 h3 img {
    width: 25%;
}
.cart.box_1 {
    margin-top: 0px;
}
.heart {
    margin-top: 0em;
}
}
@media(max-width:991px){
.menu-top img
{
    display: none;
}
.cats_butt
{
    display: block;
}
.product-bottom
{
    display: none;
    position: absolute;
    background: #fff;
    border: 2px solid #edacb4;
    z-index: 999;
    max-width: 300px;
    padding-top: 10px;
    top: 186px;
    right: 0;
}

.menu-top {
    /*width: 660px;*/
    padding: 1em;
}

.col1 h4 {
    font-size: 1.2em;
}
.navbar-nav > li > .mega-dropdown-menu {
    left: -490%;
}
.col-md{
	width:83%;
	margin:0 auto;
	padding-bottom: 2em;
}
.col-md1{
	width:83%;
	margin:0 auto;
}
.col-pic {
    padding-top: 7em;
}
.item-grid,.item-grid1{
	width:50%;
	float:left;
	padding-top: 2em;
}
.item-grid1 {
    padding-bottom: 0em;
}
.brand-grid{
	float:left;
	width:25%;
}
.brand {
    padding: 4em 0;
}
.mid-popular {
    padding-top: 0em;
}
.footer-middle-in h6 {
    margin-top: 1em;
}
.col-md-9 {
    padding: 0;
}
.prduct_container .grid
{
    margin: auto;
}
.grid {
    width: 50%;
}
.contact-form {
    padding: 4em 0;
}
.login-do {
    padding-bottom: 2em;
}
.wishlist {
    width: 52%;
}
.b-wrapper1.long-img {
    padding-top: 19em;
}
.span_2_of_a1 h3 {
    font-size: 1.4em;
}
/*--typo--*/
h1.grid2 {
  font-size: 2.3em;
}
.page {
  padding: 2em 0;
}
/*----*/
td.add-check a{
	    width: 119px;
}
.check-out {
    padding: 3em 0em 0;
}
th {
    font-size: 1.1em;
}
td {
    font-size: 0.9em;
}
.footer
{
    text-align: center;
}
}
@media(max-width:768px){

.banner {
    height: 450px;
	background-position-x: -883px;
}
}
@media(max-width:767px){
.header-login {
    margin-left: 29%;
    width: 36%;
}
.header-info ul li
{
    display: none;
}
.header-info ul li.conactstop
{
    display: block;
}
.h_menu4 {
    width: 53%;
}
.search-right {
    width: 25%;
}
ul.nav_1 li a, .col1 ul li a
{
    font-size: 1em;
}

.nav > li > a{
	padding: 1.2em 3em !important;
}
.navbar-nav {
    margin: 0;
	width: 100%;
}
.col1 {
    float: none;
    width: 100%;
}
ul.nav_1 li {
    border-right: none;
}
.navbar-nav > li > .dropdown-menu {
    left: inherit;
}
.navbar-nav > li > .mega-dropdown-menu {
    left: inherit;
}
.header-social {
    float: right;
}
.menu-top {
    width: 200px;
}

.content-top {
    padding: 4em 0;
}
.footer-class {
    float: none;
    text-align: center;
    margin-top: 0.6em;
}
.banner-top {
    height: 196px;
    padding: 3em 0;
}
.product {
    padding: 2em 0 0;
}
.grid {
    width: 60%;
}
.tabs li a {
    padding: 1em !important;
}
.product-at {
    padding: 2em 0 0;
}
.map iframe {
    min-height: 300px;
}
.wishlist {
    width: 60%;
}
th {
    font-size: 1em;
}
.close1, .close2, .close3 {
    bottom: 3px;
}
.check-out {
    padding: 4em 0em 0;
}
.login {
    padding: 4em 0 0;
}
/*--typo--*/
button.btn.btn-lg {
  font-size: 1.1em;
}
h1.grid2 {
  font-size: 2em;
}
h2.grid2 {
  font-size: 1.9em;
}
.single {
    padding: 3.5em 0 0;
}
.b-wrapper1.long-img {
    padding-top: 16em;
}
td.add-check a {
    width: 106px;
}
.heart li a {
    margin: 0 0.3em;
}
}
@media (max-width: 640px){
.banner {
    height: 390px;
    background-position-x: -965px;
}
}
@media (max-width: 620px){
.header-login {
    width: 38%;
}
}
@media(max-width:568px){
.header-login {
    margin-left: 41%;
    width: 60%;
	text-align: right;
	    padding: 0;
}
.logo img {
    width: 43%;
}
.header-top {
    padding: 0.7em 0;
}
.search-right {
    width: 36%;
    float: right;
}
.h_menu4 {
    margin: 0;
}
.navbar-toggle {
    float: left;
}
	.nav_bottom
	{
		margin-top: 15px;
	}
.logo {
	left: -48px;
}
.nav > li > a {
    padding: 0.8em 2em !important;
}
.col-md,.col-md1 {
    width: 100%;
}
.col-2 h2 {
    font-size: 2em;
	line-height: 1.5em;
}
.col-pic h5 {
    font-size: 1.7em;
}
.col-pic p {
    font-size: 1em;
}
.col-pic {
    padding-top: 5em;
}
.content-top {
    padding: 3em 0;
}
.content-mid h3 {
    font-size: 2em;
}
.item-grid ,.item-grid1{
    padding: 2em 0.5em 0;
}
.mid-1 h6 {
    font-size: 1em;
}
.mid-pop .pro-img:hover .zoom-icon {
    top: 30%;
}
.brand-grid {
    float: left;
    width: 50%;
}
.brand {
    padding: 2em 0;
}
.footer-middle {
    padding: 3em 0;
}
.footer-class {
    font-size: 0.9em;
}

.product {
    padding: 1em 0 0;
}
.grid {
    width: 70%;
}
nav.nav-sidebar {
    float: none;
    width: 100%;
	border-top: none;
}

.one {
    float: none;
    width: 100%;
}
.tabs li a {
    font-size: 0.8em;
    padding: 1em !important;
	border-right: 1px solid #EDEDED;
	border-top: 1px solid #EDEDED;
	border-bottom: none;
}
.tab-head {
    padding: 2em 0 0;
}
.contact-form {
    padding: 3em 0;
}
.map iframe {
    min-height: 250px;
}
.four {
    padding: 3em 0;
}
.four h3 {
    font-size: 6em;
}
.wishlist {
    width: 80%;
}
.check-out {
    padding: 3em 0em 0;
}

a.at-in {
    width: 38%;
}
.banner-top h1 {
    font-size: 2.2em;
}
.banner-top {
    height: 178px;
    padding: 3em 0;
    background-size: 557px;
}
.sed h5 {
    font-size: 0.9em;
}
.sed {
    width: 58%;
}
td {
    font-size: 0.9em;
}
.login-mail input[type="text"], .login-mail input[type="password"] {
    width: 93%;
}
.login {
    padding: 3em 0 0;
}
.search {
    padding: 0.5em;
    top: 1px;
}
.search input[type=submit] {
    top: 7px;
}
.single {
    padding: 3em 0 0;
}
.span_2_of_a1 h3 {
    font-size: 1.4em;
}
.b-wrapper1.long-img {
    padding-top: 12em;
}
th.table-grid {
    padding: 1em 6em;
}
td.add-check a {
    width: 107px;
}
.check-out {
    padding: 2em 0em 0;
}
/*--typo--*/
.page-header h3 {
  font-size: 2em;
}
button.btn.btn-lg {
  font-size: 1em;
  padding: 7px;
}
button.btn.btn-1 {
  font-size: 0.9em;
  padding: 8px;
}
button.btn.btn-sm {
  font-size: 0.8em;
  padding: 9px;
}
h1#h1-bootstrap-heading {
  font-size: 2.2em;
}
h2#h2-bootstrap-heading {
  font-size: 2em;
}
h1.grid2 {
  font-size: 1.45em;
}
h2.grid2 {
  font-size: 1.35em;
}
h3.grid2 {
  font-size: 1.3em;
}
h4.grid2 {
  font-size: 1.2em;
}

}
@media(max-width:480px){
.banner {
    height: 340px;
    background-position-x: -238px;
    background-size: 704px;
}
}
@media(max-width:390px){
.logo {
    left: -48px;
}
.header-top {
    padding: 0.53em 0;
}
.header-login ul li a {
    font-size: 0.78em;
    margin: 0 0.1em;
}
    .nav_bottom
    {
        margin-top: 18px;
    }
.h_menu4 {
    width: 42%;
}
.nav > li > a {
    padding: 0.8em 1em !important;
    width: 160px;
}
.search-right {
    width: 31%;
}

.footer-middle-in img{
	width:60%;
}
.content-top {
    padding: 2em 0;
}
.col-md, .col-md1 {
    padding: 0;
}
.col-2 span {
    font-size: 1.2em;
}
.col-2 h2 {
    font-size: 1.5em;
}
.col-2 p {
    font-size: 0.82em;
}
.col-2 {
    padding: 1em 0;
}
.col-pic h5 {
    font-size: 1.5em;
}
.col-pic p {
    font-size: 0.9em;
}
.col-pic {
    padding-top: 3em;
}
.content-mid h3 {
    font-size: 1.5em;
}
label.line {
    width: 107px;
}
.zoom-icon .icon {
    width: 35px;
    height: 35px;
    font-size: 1em;
    line-height: 2.3em;
}
.mid-pop .pro-img:hover .zoom-icon {
    top: 20.5%;
}
.item-grid {
    padding: 1em 0.3em 0;
}
.women-top {
    float: none;
}
.mid-1 span {
    font-size: 0.8em;
}
.mid-1 h6 {
    font-size: 0.8em;
}
.img {
    float: none;
    text-align: center;
    margin-top: 0.5em;
}
.img img{
    width:29%;
}
.item-grid,.item-grid1 {
    padding: 1em 0.3em 0;
}
.block ,.mid-2 p{
    float: none;
    text-align: center;
}
.mid-1 {
    padding-top: 0.5em;
}
.mid-2 {
    padding-top: 0.5em;
}
.footer-middle {
    padding: 2em 0;
}
.footer-middle-in h6 {
    font-size: 1.2em;
}
.footer-middle-in p,ul.in li a,ul.tag-in li a,.footer-class {
    font-size: 0.83em;
}

.banner-top h1 {
    font-size: 1.6em;
}
.banner-top h2 {
    font-size: 0.8em;
}
.banner-top em {
    width: 78px;
}
.banner-top {
    height: 125px;
    padding: 1.7em 0;
    background-size: 434px;
}
.product {
    padding: 0em 0 0;
}
h4.cate {
    font-size: 1.4em;
}
.product-bottom {
    padding:2em 0 0;
}
.menu-drop > li > a {
    font-size: 0.83em;
}
.tabs li a {
    padding: 1em !important;
}
.login-do {
    padding: 0 0 2em;
}
.login-mail input[type="text"], .login-mail input[type="password"] {
    width: 90%;
}
.login-mail {
    margin-bottom: 1em;
}
.login-right {
    padding: 0;
}
.login-right h3 {
    font-size: 1.2em;
}
.login-right p {
    font-size: 0.83em;
}
.login {
    padding: 2em 0 0;
}
.hvr-skew-backward {
    padding: 0.4em 1em;
    font-size: 0.9em;
}
.wishlist {
    width: 100%;
    margin: 2em auto 0;
}
.wishlist h6 {
    font-size: 0.85em;
}
.wishlist p {
    font-size: 0.9em;
}
.check-out {
    padding: 1em 0em 0;
}
.search {
    width: 215px;
    right: 3.6em;
}
.search input[type=submit] {
    width: 27%;
    font-size: 0.7em;
}
.search input[type=text] {
    padding: 7px;
    width: 70%;
    font-size: 0.75em;
}
th.table-grid {
    padding: 0 5em;
}
th{
	padding:0 3em;
}
td {
    font-size: 0.8em;
}
.sed p {
    font-size: 0.88em;
    line-height: 1.6em;
}
.sed h5 {
    font-size: 1em;
}
.single {
    padding: 2em 0 0;
}
.single-top-in {
    padding: 0;
}
.price_single {
    font-size: 1em;
    margin: 0.5em 0 1em;
}
h4.quick {
    font-size: 1.1em;
}
p.quick_desc {
    font-size: 0.8em;
    margin: 0.7em 0 1em;
}
.product-qty span {
    font-size: 1em;
}
.tabs li a {
    padding: 0.6em 1em !important;
}
.facts p,.facts ul li {
    font-size: 0.8em;
}
.four h3 {
    font-size: 5em;
}
.four p {
    font-size: 0.8em;
}
.b-from-left {
    font-size: 1.5em;
}
.b-from-right {
    font-size: 1em;
}
.b-wrapper1.long-img {
    padding-top: 8em;
}
.grid {
    padding: 0;
}
.span_2_of_a1 h3 {
    font-size: 1.2em;
}
p.in-para {
    font-size: 0.8em;
}
/*--typo--*/
h1#h1-bootstrap-heading {
  font-size: 1.6em;
}
h2#h2-bootstrap-heading {
  font-size: 1.5em;
}
h3#h3-bootstrap-heading {
  font-size: 1.4em;
}
button.btn.btn-lg {
  font-size: 0.9em;
  margin: 0 0 0.5em 0px;
  padding: 9px;
}
.grid1 {
  margin: 0.7em 0 0;
}
button.btn.btn-1 {
  font-size: 0.8em;
  margin: 0 0 0.5em;
}
button.btn.btn-sm {
  font-size: 0.7em;
  padding: 5px;
  margin: 0 0 0.5em;
}
button.btn.btn-xs {
  font-size: 0.7em;
}
ul.nav.nav-pills a{
	padding: 0.5em;
  font-size: 0.9em;
}
span.label {
  margin: 0 0 0.5em;
  display: inline-block;
}
.page {
  padding: 0 0 1em;
}
.page-header {
  margin: 16px 0 9px;
}
.grid2 {
  margin: 0.4em 0 0;
}
.bs-example {
  padding: 1em 0 0;
}
.page-header h3 {
    font-size: 1.6em;
}
td.add-check a {
    width: 86px;
}
}
@media(max-width:320px){
.banner {
    height: 232px;
    background-position-x: -225px;
    background-size: 542px;
}
}